@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* ---------------
    navbar 1 
-------------------*/
.navbar-1{
    margin-bottom: 45px;
}
.navbar-1 nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #565656;
    align-items: center;
    justify-content: space-between;
    padding: 9px 50px 9px 100px;
    flex-wrap: wrap;
}
.navbar-1 nav .logo img{
  width: 41%;
}
.navbar-1 nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.navbar-1 nav ul li{
  margin: 0 5px;
}
.navbar-1 nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.navbar-1 nav ul li a.active,
.navbar-1 nav ul li a:hover{
  color: #111;
  background: #fff;
}
.navbar-1 nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
    .navbar-1 nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
    .navbar-1 nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .navbar-1 nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #febd30;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  .navbar-1 nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  .navbar-1 nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  .navbar-1 nav ul li a.active,
  .navbar-1 nav ul li a:hover{
    background: none;
    color: #000;
  }
}

/* End of navbar 1 */
