@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
.inside{
    margin-top: 150px;
}
.form-pop{
    border: 1px solid rgb(89, 89, 89);
    padding: 25px;
}
.form-pop .title{
    font-family: poppins;
    font-weight: 600;
    margin:30px 0 45px 0;
    font-size: 27px;
}
.form-pop .list h3{
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}
.form-pop .list p{
    font-family: poppins;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
    color: #2F2E2E;
    line-height: 20px;
}
.form{
    border: 1px solid #DDDDDD;
    height: 100%;
}
.form h3{
    font-family: poppins;
    font-weight: 600;
    margin-bottom: 45px;
    padding-top: 23px;
}
.form .nav-tabs{
    border: none;
    background-color: #000;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.form .nav-tabs .nav-link{
    border: none;
    /* border-top-right-radius:9px;
    border-bottom-right-radius:9px; */
    border-top-left-radius: 0;
}
.form .nav-tabs .nav-item{
    width: 50%;
}
.form .nav-tabs .nav-item :hover{
   background-color: #6fbe4837;
   width: 100%;
    margin-bottom: 0;
    transition: linear 1s;
}
.form .nav-tabs a{
    text-decoration: none;
    color: #fff;
    font-family: poppins;
    font-weight: 400;
    font-size: 20px;
    padding: 18px 20px;
}
.form .nav-tabs .nav-link.active{
    background-color: #70BE48;
    color: #fff;
    border: none;
    transition: ease-in 0.5s;
}
.tab-pane p{
    font-family: poppins;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    color: #2F2E2E;
}
.tab-pane input{
    margin-bottom: 30px;
}
.tab-pane .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 2rem 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.tab-pane .form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #70BE48;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #6fbe4843 !important;
}
.tab-pane span a{
    text-decoration: none;
    color: #70BE48;
    font-weight: 500;
}
.tab-pane .submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}
.tab-pane .btn-primary{
    background-color: #141414;
    border: none;
    border-radius: 0;
    padding: 20px 35px;
}

